# Base de datos (PostgreSQL)
SPRING_DATASOURCE_PASSWORD=postgres123
# DB_URL=jdbc:postgresql://localhost:5432/mitienda

# JWT
JWT_SECRET=a291bHVtcGlhbmFzYWx0YW1hcmVjYWxscXVlamFkZXZzdWVsb3M=

# Google OAuth2 (obligatorio para login con Google)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
